body {
  height: 100vh;
  min-width: 320px;
  background-color:rgb(24, 25, 25);
  font-family: "Open Sans", serif;
}

a {
  text-decoration: none;
}

* {
  color:rgb(213, 213, 213);
}

button, a {
  cursor: pointer;
}

.main-wrapper {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

 header {
  flex-shrink: 0;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
 }

.logo {
  max-width: 120px;
  height: 50px;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.button-group {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.search {
  width: 120px;
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  width: 100%;
  background-color: rgb(79, 72, 72);
  border: none;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}

.search input::placeholder {
  color:rgb(213, 213, 213);
}

.search i {
  position: absolute;
  right: 10px;
  color:rgb(24, 129, 189);
  transform: scaleX(-1);
}

.notifications {
  color:rgb(24, 129, 189);
  font-size: 1.5rem;
}

.profile {
  width: 48px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}

main {
  background:
    linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("https://s3picturehouses.s3.eu-central-1.amazonaws.com/header/ph_166325134663233392d1d86.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

main h1 {
  font-size: 2.5rem;
}

.movie-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-ratings {
  color: silver;
}

.user-ratings b {
  color: white;
}

.user-rating {
  color: #FF0000;
}

.maturity-rating {
  border: 1px solid rgb(213, 213, 213);
  padding: 0 0.3rem;
  font-size: 0.9rem;
  border-radius: 4px;
  line-height: 1rem;
}

.movie-summary {
  line-height: 1.2rem;
  max-width: 60%;
}

.movie-details {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.movie-details li {
  font-size: 0.9rem;
  display: flex;
  gap: 0.3rem;
  width: 100%;
  font-weight: 600;
}

.movie-details li > p:first-of-type {
  color: #FF0000;
}

.btn {
  background-color: #FF0000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  padding: 0.7rem 0.8rem;
  border-radius: 10px;
  border: none;
}

.btn-lg {
  width: 130px;
}

.btn-md {
  width: 100px;
  height: 30px;
  gap: 4px;
  font-size: 0.8rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section h2 {
  font-size: 1rem;
}

.suggestion-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.suggestion-row-header a {
  font-size: 0.9rem;
  font-weight: bold;
}

.suggestion-row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestion-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.suggestion-item {
  min-width: 230px;
  height: 170px;
  flex: 1 1 calc(30% - 10px);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.suggestion-item h3 {
  font-size: 1.8rem;
}

.suggestion-details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.suggestion-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

footer {
  margin-top: auto;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem 0 2rem 0;
}

footer .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  height: 100%;
  max-width: 580px;
}

footer .right {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social-links, .app-links {
  display: flex;
  flex-direction: column;
}

.social-links div, .app-links div {
  display: flex;
  height: fit-content;
  height: 50px;
}

footer img {
  aspect-ratio: 1/1;
  width: 30px;
  cursor: pointer;
}

.app-links img {
  width: 120px;
}

.social-links div {
  gap: 0.5rem;
}

@media (max-width: 375px) {
  .main-wrapper {
    padding: 1rem 0.5rem;
  }
  .logo {
    width: 90px;
  }
  .button-group {
    gap: 0.5rem;
  }
  .profile {
    width: 38px;
  }
  .search {
    width: 100px;
  }
  .notifications {
    font-size: 1.2rem;
  }
  footer a, footer p {
    font-size: 0.8rem;
  }
  .social-links div, .app-links div {
    gap: 0.2rem;
  }
  .app-links img {
    width: 90px;
  }
}

@media (min-width: 768px) {
  header {
    height: 50px;
  }
  header nav {
    top: 0;
    margin: 0 auto;
  }
  .button-group {
    padding-right: 2rem;
  }
  footer nav {
    gap: 3rem;
  }
}

@media (max-width: 425px) {
  main h1 {
    font-size: 2rem;
  }
  main .movie-info {
    font-size: 0.8rem;
    flex-wrap: wrap
  }
  .movie-details li {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .suggestion-item:nth-child(n+3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .movie-summary {
    max-width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .suggestion-item {
    width: 100%;
    flex: 1 1 40%;
  }
  .suggestion-item:nth-child(n+5) {
    display: none;
  }
}

@media (max-width: 1024px) {
  footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .left, footer .right {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
  }
}